/* homepage */
.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}

.workout {
    display: grid;
    grid-template-columns: 4fr 0fr;
    gap: 100px;
}

/* auth forms */
form.signup, form.login {


    padding: 0;

    border-radius: 4px;
    
}

.formContainer {
    max-width: 400px;
    margin: 40px auto;
    background: #000;
    position: relative;
    padding: 20px;
}

.loaderContainer {
    position: absolute;
    bottom: 2px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}